<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - FOODIE'S</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
     <nav class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/predict">Complaint</a>
        </div>    
    </nav>
    <div class="background-overlay"></div>
    <div class="contact-container">
        <h1 class="logo-animation">Get in Touch with <span>FOODIE'S</span> 🚀</h1>
        
        <div class="contact-links">
            <a href="https://github.com/Sahil05-08" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://www.linkedin.com/in/sahil585/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="mailto:suryawanshisahil585@gmail.com" target="_blank">
                <i class="fas fa-envelope"></i> Email
            </a>
        </div>       
    </div>
</body>
</html>
